*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Header */
header, footer{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1% 2%;
  color: white;
  background-image: linear-gradient(to left, #0099ff, #0080d7, #0069b0, #00528b, #003c68, #013a63, #02375e, #033559, #054570, #075588, #0666a0, #0278b9);
}
header{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headerDiv1{
  width: 30%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.cardAutos{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding: 1% 2%;
}
.cardAutos div{
  width: 30%;
  height: 160px;
  color: white;
  background-color: blueviolet;
}

/* Contenido */
.contenido{
  background-color: rgb(9, 43, 51);
  color: white;
}


/* Footer */