*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Header */
header, footer{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1% 2%;
  color: white;
  background-color: rgb(22, 23, 34);
}
header{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headerDiv1{
  width: 30%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.cardAutos{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding: 1% 2%;
}
.cardAutos div{
  width: 30%;
  height: 160px;
  color: white;
  background-color: blueviolet;
}

/* Contenido */
.contenido{
  background-color: rgb(9, 43, 51);
  color: white;
}


/* Footer */