/* Página del Login */
.mainLogin{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mainLogin :nth-child(1){
    width: 32vw;
}
.mainLogin div img{
    height: 100vh;
}

.formLogin{
    width: 68%;
    padding: 0 10%;
    font-size: 1.2rem;
}
.formLogin h1{
    margin: 4% 0;
}
.formularioLogin{
    width: 100% !important;
}
.formularioLogin label{
    border-radius: 3px;
}
.formularioLogin input{
    width: 100%;
    padding: 1%;
    border-radius: 5px;
    border: 2px solid #01b3e7;
    box-shadow: 1px 1px .5px black;
    margin-bottom: 3%;
    font-size: 1.2rem;
}
.formularioLogin button{
    padding: 1% 2%;
    width: 100%;
    background-image: linear-gradient(to right, #09f, #0080d7, #0069b0, #00528b, #003c68, #013a63, #02375e, #033559, #054570, #075588, #0666a0, #0278b9);
    color: white;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 4% 0 15% 0;
}

.formularioRegistrarse{
    width: 100% !important;
}
.formularioRegistrarse section{
    width: 100% !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3%;
}
.formularioRegistrarse section div{
    width: 48% !important;
}
.formularioRegistrarse section div input{
    width: 100%;
    font-size: 1.2rem;
    padding: 1% 2%;
    border-radius: 5px;
    border: 2px solid #01b3e7;
    box-shadow: 1px 1px .5px black;
    margin-bottom: 1%;
    font-size: 1.2rem;
}
.formularioRegistrarse button{
    padding: 1% 2%;
    width: 100%;
    background-image: linear-gradient(to right, #09f, #0080d7, #0069b0, #00528b, #003c68, #013a63, #02375e, #033559, #054570, #075588, #0666a0, #0278b9);
    color: white;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 4% 0 12% 0;
}

.footerLogReg{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footerLogReg :nth-child(2){
    padding: .5% 5%;
    background-color: #002b56;
    color: white;
    border: 2px solid #002b56;
    font-size: 1rem;
    border-radius: 5px;
    text-decoration: none;
}

.btnAgendar{
    position: fixed;
    z-index: 5;
    padding: 1% 2%;
    background-color: rgb(6, 9, 174);
    color: white;
    border-radius: 5px;
    border: 2px solid white;
    bottom: 20px;
    right: 20px;
}

/* Página Index */
.mostrarAutos{
    width: 100%;
    margin-top: 5.6%;
    padding: 2% 0;
    background-color: rgb(9, 43, 51);
    /* display: grid;
    grid-template-columns: repeat(autofit, minmax(350px, 1fr)) !important; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    
}
.mostrarAutos div{
    width: 30%;
    margin: 15px 0;
    background-color: white;
    border-radius: 10px;
}
.cardAuto{
    text-decoration: none;
    text-align: center;
    color: rgb(6, 9, 174);
}

/* Página Talleres */
.mostrarTalleres{
    margin-top: 5.6%;
    padding: 2% 0;
}
.columnas3{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3%;
    flex-wrap: wrap;
}
.columnas3 div{
    width: 28%;
    margin: 10px 0;
}
.cardTaller{
    width: 100%;
    background-color: white;
    color: rgb(6, 9, 174);
    text-align: center;
    border-radius: 10px;
    box-shadow: 6px 6px 10px black;
}
.cardTaller h2, .cardAuto h2{
    padding: 10px 0;
}
.cardTaller img{
    width: 90%;
}
.cardAuto img{
    width: 90%;
    margin-left: 5%;
}
.cardTaller div, .cardAuto div{
    width: 100%;
    padding: 3% 0;
}

/* Agendar Citas */
.contenidoTopBottom{
    margin-top: 5.6%;
    padding-bottom: 4%;
}
.autosRegistrados h1{
    text-align: center;
    padding: 1.5% 0;
}
.autoInfo section{
    padding: 4%;
}
.autoInfo section a{
    padding: 1% 10%;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    background-image: linear-gradient(to right, #09f, #0080d7, #0069b0, #00528b, #003c68, #013a63, #02375e, #033559, #054570, #075588, #0666a0, #0278b9);
    color: white;
    border-radius: 5px;
}

/* Registrar Auto */
.regAuto{
    padding: 2% 0;
}
.regAuto h1, .regAuto h2{
    text-align: center;
}
.formRegAuto{
    width: 70%;
    margin: 2% auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 1.2rem;
    gap: 3%;
    background-color: rgb(23, 23, 73);
    padding: 2%;
    border-radius: 5px;
}
.formRegAuto input, .formRegAuto select, .formRegAuto textarea{
    width: 100%;
    font-size: 1.2rem;
    padding: 1% 2%;
    border-radius: 5px;
    border: 2px solid #01b3e7;
    box-shadow: 1px 1px .5px black;
    margin-bottom: 1%;
    font-size: 1.2rem;
}
.formRegAuto section{
    width: 40%;
    display: block;
    justify-content: center;
    align-items: center;
}
.formRegAuto :nth-child(2){
    width: 40%;
}
.formRegAuto :nth-child(3){
    width: 100%;
}
.formRegAuto :nth-child(3) button{
    width: 40%;
    padding: .8% 0;
    margin: 4% 0 2% 30%;
    font-size: 1rem;
    border-radius: 5px;
    background-image: linear-gradient(to right, #09f, #0080d7, #0069b0, #00528b, #003c68, #013a63, #02375e, #033559, #054570, #075588, #0666a0, #0278b9);
    color: white;
    font-weight: bold;
    border: 2px solid white;
}
.formRegAuto textarea{
    width: 100%;
}


.espacioSection{
    padding: 2% 0;
}
.detallesAuto{
    font-size: 1.2rem;
    width: 70%;
    background-color: #002b56;
    margin: auto;
}

.detallesAuto h1{
    padding: 2% 0;
}
.detallesAuto h3{
    margin: 2% 0;
}
.detallesAuto h1, .detallesAuto h3{
    text-align: center;
}
.detalleAutoInfo section div{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10%;
    align-items: center;
    text-align: center;
}
.detalleAutoInfo section div p{
    width: 30%;
    margin-top: 2%;
}
.pDetalle{
    width: 80% !important;
}
.detalleAutoInfo section{
    margin-bottom: 2%;
}
.seccionBtn{
    width: 100%;
    padding: 2% 0;
}
.seccionBtn button{
    width: 40%;
    padding: .8% 0;
    background-image: linear-gradient(to right, #09f, #0080d7, #0069b0, #00528b, #003c68, #013a63, #02375e, #033559, #054570, #075588, #0666a0, #0278b9);
    margin-left: 30%;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1rem;
}
hr{
    width: 50%;
    margin: auto;
    height: 4px;
    border-radius: 5px;
    background-color: white;
}

.formAgendar{
    width: 50%;
    margin: auto;
    padding-bottom: 2%;
    font-size: 1.2rem;
}
.formAgendar input, .formAgendar select{
    width: 100%;
    font-size: 1.2rem;
    margin-bottom: 1%;
    border: 2px solid #01b3e7;
    border-radius: 5px;
    padding: .8%;
}
.formAgendar button{
    font-size: 1.1rem;
    background-image: linear-gradient(to right, #09f, #0080d7, #0069b0, #00528b, #003c68, #013a63, #02375e, #033559, #054570, #075588, #0666a0, #0278b9);
}

.divVerImgAuto{
    width: 40%;
    margin: 0 auto 3% auto;
    
}
.verImgAuto{
    width: 100%;
    box-shadow: 2px 4px 20px black;
}



/* Footer */
footer{
    background-color: rgb(255, 255, 255);
}
.grupo-1{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1%;
    padding: 2%;
}
.grupo-1 :nth-child(1) img{
    width: 130px;
}
.box{
    width: 30%;
}

.grupo-2{
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    padding: 1%;
    background-image: linear-gradient(to right, #09f, #0080d7, #0069b0, #00528b, #003c68, #013a63, #02375e, #033559, #054570, #075588, #0666a0, #0278b9);
    color: white;
}
.red-social section a, .red-social section a img{
    width: 50px;
}